h1 {
    color: red;
    font-weight: bold;
    font-size: 50px;
}

h2 {
    color: red;
    font-size: 20px;
}


// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575px) { 
    
    
 }

// Small devices (landscape phones, less than 768px)
@media (max-width: 767px) { 
    
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991px) { 
    h2 {
    color: blue; }
}
    
// Large devices (desktops, less than 1200px)
@media (max-width: 1199px) { ... }

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width